<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe in Jazz - Serviços</title>
    <link rel="stylesheet" href="../CSS/servicos.css">
    <script src="https://kit.fontawesome.com/7936146879.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <nav>
            <a onclick="window.location.href='./index'"><h2>Coffee in <span>Jazz</span></h2></a>
            <ul class="cabeçalho-link">
                <li><a onclick="window.location.href='./index'">Inicio</a></li>
                <li><a onclick="window.location.href='./servicos'">Serviços</a></li>
                <li><a onclick="window.location.href='./cardapio'">Cardápio</a></li>
                <li ><a onclick="window.location.href='./admin'"><%= message %></a></li>
                <li ><a onclick="window.location.href='./controle'"><%= messagetwo %></a></li>
            </ul>
        </nav>
        <div class="bg"></div>
    </div>
        <div class="service">
            <div class="types-of-service">
                <img src="./Imagens">
                <h2 id="trs">Aniversarios</h2>
                <h3>Descrição:</h3>
                <div class="db-p">
                    <p>    Coffee in jazz é um espaço de elegante, onde a atmosfera é cálida e a decoração charmosa. Ao realizar a sua festa de aniversario neste espaço único, você garante que os seus convidados irão beneficiar-se de um atendimento de excelente qualidade. A relação benefício/custo que lhe oferecem é uma oportunidade única. Saibam mais. Há mais de 7 anos a equipe atende aos mais variados tipos de eventos com uma combinação de estilos rústico, clássico e moderno
                    O espaço possui uma infraestrutura maravilhosa, pensada para acolher os mais diversos eventos, com elegância e ao mesmo tempo de uma forma prática. A casa conta com capela e também disponibiliza outros serviços como:
                         <br> Buffet completo (tradicional ou churrasco)
                        <br> Decoração completa com flores naturais
                        <br> Estrutura de boate com DJ, iluminação e sonorização
                        <br> Mobiliário completo
                        <br> Cerimônia na capela.</p>
                </div>
            <a href="https://www.instagram.com/restauranteseujoao/">  <input id="bt1" type="submit" value="Alugue"></a>  
            </div>
    
            <div class="types-of-service">
                <img src="./Imagens/">
                <h2>Rodizio</h2>
                <h3>Descrição:</h3>
                <div class="db-p">
                    <p>o cafe Coffee in jazz funciona toda quarta-feira com sistema de rodízio de carnes de churrasco. No centro do salão, o buffet livre traz variedade de saladas, massas, guarnições e pratos quentes, e é possível preparar a massa na hora, com os ingredientes escolhidos pelos clientes.
                        Para acompanhar, sucos naturais, cerveja, drinques e doses. O carrinho de sobremesas circula entre as mesas com opções como Pudim de Leite Condensado, Petit Gateau e tortas doces. O restaurante abre tanto para o almoço quanto para o jantar                  
                        A casa também conta com um completo Espaço Kids, no qual a criançada pode se divertir com segurança. São jogos e brinquedos, como piscina bolinhas, fliperama, multijogos Xbox, mesa para colorir, escorregador e TV com conteúdos infantis.<br>Buffet completo (tradicional ou churrasco)
                        Decoração completa com flores naturais
                        Estrutura de boate com DJ, iluminação e sonorização
                        Mobiliário completo
                        Cerimônia na capela
                        Entre outros.
                        </p>
                </div>
              <span><a href="https://www.instagram.com/restauranteseujoao/">  <input type="submit" value="Alugue"></a></span>
            </div>
        </div>

        <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
    
            <ul class="social-footer">
                <li><a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a></li>
                <li><a href="#">
                        <i class="fab fa-instagram-square"></i>
                    </a></li>
                <li><a href="#">
                        <i class="fab fa-twitter-square"></i>
                    </a></li>
                <li><a href="#">
                        <i class="fab fa-whatsapp-square"></i>
                    </a></li>
            </ul>
    
             <ul class="menu-footer">
                <li>
                    <a onclick="window.location.href='./index'"> Home</a>
                </li>
    
                <li>
                    <a onclick="window.location.href='./servicos'"> Serviços</a>
                </li>
    
                <li>
                    <a onclick="window.location.href='./cardapio'"> Cardapio</a>
                </li>
            </ul>
            <p> © Copyright - Todos os direitos reservados </p>
            </div> 
        </footer>
</body>
</html>