*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1F1240;
}

@media only screen and (min-width: 300px) and (max-width: 900px){
    div[class="background"] nav{
        background-color: #1F1240;
        padding: 35px; 
        padding-left: 1%;
        padding-right: 59%;
        width: 95%;
    }

    nav h2{
        color: rgb(186, 120, 88);
        font-size: 35px;
        cursor: pointer;
        letter-spacing: 2px;
    }

    div[class="main"] img{
        border: 1px solid #ffffff;
        border-radius: 300px;
        width: 200px;
        height: 280px;
        cursor: pointer;
    }
    
    .cain{
        position: absolute;
        top: 40%;
        left: 10%;
    }
}

.background{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 35px; 
    padding-left: 8%;
    padding-right: 39%;
    border: 1px solid transparent;
    background-color: #ffffff;
    opacity: 0,5;
    position: fixed;
    z-index: 10;
    background-color: #1F1240;
}
 
nav a{
    text-decoration: none;
}

nav h2{
    color: rgb(186, 120, 88);
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
}

div[class="background"] nav h2 span{
    color:  rgb(232,41,56);
}

div[class="cain"] h2 span{
    color:  #ffc82d;
}

nav ul{
    margin-right: -530px;
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #973145;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: 	#ffc82d;
    transform:  scale(1,2);
}

.main{
    position: absolute;
    top: 25%;
    left: 8%;
    transform: translateY(-50);
}

div[class="main"] img{
    border: 1px solid #ffffff;
    border-radius: 300px;
    width: 400px;
    height: 400px;
    cursor: pointer;
}

.cain{
    position: absolute;
    top: 40%;
    left: 60%;
}

div[class="cain"] h2{
    letter-spacing: 1px;
    margin-left: 170px;
    color: #d3222a;
    font-size: 35px;
}

div[class="cain"] h3{
    margin-left: 0px;
    color: #191919;
    text-align: left;
}

div[class="cain"] p{
    margin-right: 120px;
    margin-top: 3px;
    text-align: left;
}

div[class="week"]{
    display: flex;
    justify-content: space-around;
    padding: 0px 250px 0px 250px;
}

div[class="week"] img{
    border: 1px solid transparent;
    border-radius: 100px;
    width: 180px;
    height: 180px;
    margin-left: 9px;
    margin-top: 9px;
    margin-bottom: 30px;
}

div[class="week"] div p{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-weight: bolder;
}
div[class="week"] div p span{
    display: flex;
    justify-content: center;
}

.week-border{
    border-bottom: 1px solid #503694;
    border-right: 1px solid #503694;
    background-color: #f7f7f7;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1F1240;
}

div[class="week-border"]:hover{
    transition: all 1s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div[class="week-border"]{
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;

}

div[class="week-title"] h2{
    font-size: 35px;
    letter-spacing: 1px;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    color: #ffffff;
} 

div[class="about-us"]{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: #1F1240;
    margin: 0 auto;
    MARGIN-top: 30PX;
}

div[class="about-us"] h2{
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 313px;
    margin-bottom: -50px;
    color: #ffffff;
}

div[class="about-us"] p{
    padding: 0px 35px 0px 35px;
    margin-bottom: 45px;
    color: #ffffff;
}

.background-about-us{
    border: 1px solid transparent;
    width: 100%;
    height: 240px;
    margin-bottom: 180px
}

.week-catalogue{
    margin-top: 100px;
    margin-bottom: 100px;
}


div[class="background"] nav ul li a div{
    margin-bottom: 15px;
}

div[class="week-border"] a{
    text-decoration: none;
    color: #ffffff;
}

div[class="about-us"]{
    display: flex;
    justify-content: space-around;
    padding: 0px 235px 0px 235px;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    background-color:#191919;
    min-height: 100PX;
    padding: 18px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 140px;
}

.social-footer,
.menu-footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px 0px;
}

.social-footer{
    padding-right: -40px;
}

.menu-footer{
    padding-left: 10px;
}

.social-footer li,
.menu-footer li
{
    list-style: none;
}

.social-footer li a {
    font-size: 2em;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-footer li a:hover{
    transform: translateY(-10px);
}

.menu-footer li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    font-weight:bolder;
    opacity: 1;

}
.menu-footer li a:hover{
    transform: translateY(-10px);
  
}

footer p{
    color: #717171;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.6875rem;
    font-weight: 300;
    line-height: 1.35;
}
.wave{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #191919;
    

}

#imagem1,#imagem2,#imagem3,#imagem4{
    margin: 20px auto;
}

#p1{
    margin-left: 40px;
}


#imagem1,#imagem2,#imagem3,#imagem4{
    margin: 20px auto;
}

#p1{
    margin-left: 40px;
}

.galeria{
    margin: 100px auto;
    width: 1580px;
    height: 699px;
   display: flex;
    overflow: hidden;
    position: absolute;
    top: -10px;
}

.slide{
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  
}

@keyframes animacao{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0;
    }
}
.slide:nth-child(1){
    animation-delay: 0.1s;
}
.slide:nth-child(2){
    animation-delay: 5s;
}
.slide:nth-child(3){
    animation-delay: 10s;
}
.slide:nth-child(4){
    animation-delay: 15s;
}

#btn-control{
    display:none;
 }